<template>

  <div class="container">
    <div class="row justify-content-center">
      <div class="register-form">
        <div class="logo-wrapper">...</div>
        <form @submit.prevent="submitForm">
          <!--error messgae for failed login -->
          <div v-show="errorMessage" class="alert alert-danger failed">{{errorMessage}}</div>
          <!--///-->
          <div class="form-group">
            <input type="text" class="form-control" id="username" v-model="form.username">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="emailAdress" v-model="form.emailAdress">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password" v-model="form.password">
          </div>
          <button type="submit" class="btn btn-primary btn-block">
          </button>
          ...
        </form>
      </div>
    </div>
    <footer class="footer">
      <span class="copyright">...</span>
      <ul class="footer-links list-inline float-right"></ul>
    </footer>
  </div>
</template>

<script>
import registrationService from '@/services/registration'
    export default {
      name: 'RegisterPage',
      data: function () {
        return {
          form: {
            username: '',
            emailAdress: '',
            password: '',
            errorMessage: ''
          }
        }
      },
      methods:{
        submitForm() {
          // TODO: Validate the data
          registrationService.register(this.form).then( ()=>{
            this.$router.push({name: 'LoginPage'})
          } ).catch( (error) =>{
            this.errorMessage = 'Failed to register user. Reason: ' + (error.message ? error.message: 'Unknown') +'.'
          } )
        }
      }
    }
</script>

<style lang="scss" scoped>
  .container {max-width: 900px;}
  .register-form {margin-top: 50px; max-width: 320px;}
  .logo-wrapper {margin-bottom: 40px;}
  .footer {width: 100%; line-height: 40px;margin-top: 50px;}
</style>
