.container[data-v-21380988]{max-width:900px}.register-form[data-v-21380988]{margin-top:50px;max-width:320px}.logo-wrapper[data-v-21380988]{margin-bottom:40px}.footer[data-v-21380988]{width:100%;line-height:40px;margin-top:50px}